.main {
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
  background-image: linear-gradient(to bottom right, purple , gray);;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.err-msg-div {
  font-size: 13px;
  color: rgba(255, 109, 72, 0.938);
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #e0d1e0;
  box-shadow: 20px 30px 60px 30px rgba(0, 0, 0, 0.07);
}

.form input {
  outline: green;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: none;
}

.form input:focus {
  border-bottom: solid 1px rgb(80, 80, 80);
}

.form button {
  padding-top: .7rem;
  padding-bottom: .7rem;
  outline: none;
  border-radius: 6px;
  border: none;
  margin-top: .5rem;
  cursor: pointer;
  font-size: 16px;
  background-color: #a1a1a1;
}

.form button:hover {
  transform: .2s;
  background-color: #8c8c8c;
}

.heading {
  margin-top: 1.5rem;
  font-size: 22px;
  margin-bottom: 1.5rem;
}

.p-link {
  margin-left: auto;
  margin-top: 2rem;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-image {
  align-self: center;
  height: 120px;
  width: 120px;
  display: flex;
  border-radius: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(https://logo.com/image-cdn/images/kts928pd/production/49c0443be92685675f643b26d37816e21d61fbd6-339x336.png?w=1080&q=72)
}

.head {
  height: 40px;
  width: 40px;
  background-color: #cfcfcf;
  border-radius: 50%;
}

.body {
  margin-bottom: -35px;
  height: 70px;
  width: 70px;
  background-color: #cfcfcf;
  border-radius: 30%;
}