.header {
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: .5px 3px 13px .5px #7d7d7d26;
  background-color: #610c99;
}

.headerLogo {
  margin-left: 2.5rem;
}

.headerItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.heading {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 38px;
  margin-left: 2rem;
  color: black;
}

.headerBtnDiv {
  margin-right: 5rem;
  margin-left: auto;
}

.logOutBtn {
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 1px #7d7d7d48;
  cursor: pointer;
  font-size: large;
}